node_modules/
.expo/
dist/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.expo-shared/
decompiled/
jadx/
xapk_extracted/
guide.md
flutter_sdk.zip
FlowStack*.xapk
FlowStack*.apk
.env
.env.local
*.tsbuildinfo
